// Containers

.resume-section {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
	max-width: 75rem;
	overflow: hidden;

	@media (min-width: 992px) {
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}

	@media (max-width: 992px) {
		&#about {
			padding-top: 2rem !important;
		}
	}

	#workflow li {
		margin-left: -15px;
	}

	.project-image {
		height: 5rem;
		margin-bottom: 5px;

		@media (max-width: 576px) {
			display: none;
		}
	}

	.social-icons {
		a {
			display: inline-block;
			height: 3.5rem;
			width: 3.5rem;
			background-color: $dark-gray;
			color: #fff !important;
			border-radius: 100%;

			text-align: center;
			font-size: 1.5rem;
			line-height: 3.5rem;
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				background-color: $primary-color;
			}
		}
	}

	.dev-icons {
		font-size: 3rem;

		.list-inline-item i {
			&:hover {
				color: $primary-color;
			}
		}
	}
}

.dev-icons,
.social-icons {
	user-select: none;
}

.fancybox-trigger {
	border-radius: 0;
	color: #fff;
	background: transparent;

	@media (min-width: 576px) {
		display: none;
	}
}