.navbar {
	background: transparent;
	text-align: center;
	padding: 1rem;

	@media (min-width: 1200px) {
		flex-direction: column;
		width: $sidebar-width;

		.navbar-nav {
			flex-direction: column;
		}
	}

	.nav-item .nav-link {
		font-weight: 800;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
	}

	.img-profile {
		max-width: 10rem;
		max-height: 10rem;
		border: 0.5rem solid fade-out($white, 0.8);

		&:hover {
			filter: grayscale(0.4);
		}
	}

	.navbar-toggler {
		background: $dark;
		outline: none;
		padding: 0.5rem;
		border: 1px $white solid;
		border-radius: 0;

		.icon-bar {
			width: 1.5rem;
			height: 2px;
			background: $white;
			display: block;
			transition: all 0.2s;
			margin-top: 4px;

			&:nth-of-type(1) {
				margin-top: 0;
			}
		}
	}
}