// Layout

.resume-section {
	max-width: 80rem;

	#workflow li {
		margin-left: -15px;
	}

	&#projects {

		@media (min-width: 1200px) {
			.col-xl-2 {
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
	}

	.social-icons a {
		display: inline-block;
		height: 3.5rem;
		width: 3.5rem;
		background-color: $dark-gray;
		color: $white;
		border-radius: 100%;
		text-align: center;
		font-size: 1.5rem;
		line-height: 3.5rem;
		margin-right: 1rem;
		user-select: none;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: $primary-color;
		}
	}

	.dev-icons {
		font-size: 2.5rem;
		user-select: none;

		.list-inline-item {

			@media (max-width: 1200px) {
				margin: 0;
			}

			i {
				&:hover {
					color: $primary-color;
				}

				&.hvr-float {
					vertical-align: 0;
				}
			}
		}
	}

	.img-project-cover {

		@media (max-width: 991.98px) {
			margin-bottom: 1rem;
		}
	}

	.project-cover-wrap {
		position: relative;
		padding-right: 0;
		margin-right: 15px;

		.hvr-backward:hover,
		.hvr-backward:focus,
		.hvr-backward:active {
			-webkit-transform: translateX(-15px);
			transform: translateX(-15px);
		}

		&:hover {

			@media (min-width: 1200px) {
				.img-project-cover {
					// transition: filter 1s;
					filter: grayscale(1);
				}
			}

			.project-cover-header-wrap {
				visibility: visible;
				opacity: 1;
				right: -12px;
				opacity: 1;
				transition: 0.3s;
			}
		}

		.project-cover-header-wrap {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			visibility: hidden;
			display: flex;
			align-items: center;
			opacity: 0;

			.project-cover-header {
				text-orientation: upright;
				writing-mode: vertical-rl;
				text-transform: uppercase;
				margin: auto;
				font-size: 0.5rem;
				color: $primary-color;
			}
		}
	}
}