.resume-item {
	@extend .row;

	margin-top: spacer(5);

	h3,
	.subheading {
		margin-bottom: 0;
		line-height: 1.3;
	}

	&__header,
	&__description {
		@extend .col-7;
	}

	&__description {
		margin-top: spacer(5);
	}
}
